//usuario regular
$regular: (
    color-regular: palevioletred,
    bg-regular: fuchsia,
    border-regular: 3px solid,
);

$premium: (
    color-premium: gold,
    bg-premium:rgb(75, 17, 75),
    border-premium: 4px solid black,
)